[Unit]
Description=ZDiTM Szczecin board local buffer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=jamesbond
Group=jamesbond
WorkingDirectory=/mnt/WaltherPPK/Projekty/rozklad
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /mnt/WaltherPPK/Projekty/rozklad/server.py
Restart=always
RestartSec=2
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
